<<<<<<< HEAD
<% layout("layouts/biolerplate.ejs") %>

<body>
    <h1>Wanderlust</h1>
=======
<% layout("layouts/boilerplate.ejs") %>

<body>
    <h1>Wanderlust</h1>
>>>>>>> 77e3386f87c8c915268632f25d359b5c04845030
</body>