<% layout("layouts/biolerplate.ejs") %>
<body>

    <h3>All Lisitngs</h3>
    <form action="/listings/new" method="GET">
        <button>Add new lisitng</button>
    </form>
    <ul>
        <% items.forEach((item, index) => { %>
            <li><a href="/show/<%= item._id %>"><%= item.title %></a></li>
        <% }) %>
    </ul>
</body>