<% layout("layouts/biolerplate.ejs") %>

<body>
    <div class="container">
        <h3 class="my-3">All Listings</h3>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 mb-4">
            <% items.forEach((item)=> { %>
                <a href="/show/<%= item._id %>" style="text-decoration: none;">
                    <%- include("../includes/card.ejs", { item: item }) %>
                </a>
            <% }) %>
        </div>
    </div>
</body>