<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h1>All Lisitngs</h1>
    <ul>
        <% items.forEach((item, index) => { %>
            <li><a href="/show/<%= item._id %>"><%= item.title %></a></li>
        <% }) %>
    </ul>
</body>
</html>