<% layout("layouts/boilerplate.ejs") %>

    <body>
        <div class="container text-center m-3">
            <div class="row">
                <div class="col">
                    <h1 class="display-1">
                        <%= err.status %>
                    </h1>

                    <div class="row">
                        <div class="col">
                        </div>
                        <div class="col">
                            <div class="alert alert-danger" role="alert">
                                <%= err.message %>
                            </div>
                            <% if (err.errorDetails?.length) { %>
                                <div class="alert alert-warning text-start">
                                    <h5>Validation Errors:</h5>
                                    <ul class="mb-0">
                                        <% err.errorDetails.forEach(detail=> { %>
                                            <li>
                                                <%= detail.message %>
                                            </li>
                                        <% }) %>
                                    </ul>
                                </div>
                            <% } %>

                        </div>
                        <div class="col"></div>
                    </div>


                </div>

            </div>
        </div>
    </body>