<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(success && success.length){ %>
        <p><%= success %></p>
    <% }else if(error && error.length){ %>
        <p><%= error %></p>
    <% } %>

    <h1>Hello <%= name %>. How are you?</h1>
</body>
</html>