body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/*Navbar*/
.navbar{
    height : 5rem;
    background-color: white;
    color: #222222 !important;
    padding : 1rem;
}

.navbar-collapse {
    background-color: #fff; /* Light background with slight transparency */
    padding: 10px; /* Optional: Adds spacing */
    width: 100vw; /* Optional: Makes the navbar take up the full width of the screen */   
}

@media (max-width: 768px) { /* Targets mobile screens */
    .navbar-collapse {
        background-color: #fff; /* Solid white background */
        position: absolute; /* Allows the navbar to be positioned absolutely */
        top: 5rem; /* Places the navbar below the top bar */
        z-index: 1;
        left :0rem;
        padding: 20px;
    }
}




.fa-compass{
    color : #fa424d;
    font-size : 2rem;
}

/*listings*/
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.row > * {
    padding: 0.5rem;
}


.card-title, .card-text{
    text-decoration : none;
}

/*Footer*/

.f-info{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ebebeb;
    align-items: space-evenly;
}

.f-info-links a{
    text-decoration: none;
    color: #222222 
}

.f-info-links a:hover{
    text-decoration: underline;
    color: #222222 ;
}

.f-info-social{
    font-size: 1.5rem;
}

.f-info-social, .f-info-links, .f-info-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap : 1rem;
    padding : 10px;
}

/* Cards */
.card{
    border: none;
    height: 100%;
}

.card-img-top{
    width: 100%;
    border-radius: 1rem;
    object-fit: cover !important;
    aspect-ratio: 1/1;
}

.card-body {
    padding : 0;
    padding-top : 1rem;
}

.card-body{
    color : #222222 !important;
}

.card-img-overlay{
    opacity: 0;
    background-color: #ebebeb;
}

.card-img-overlay:hover{
    opacity: 0.2;
}

/*Add New Button*/

.btn-add-new, .btn-save-new{
    background-color: #fa424d;
    color: white;
}

.btn-add-new:hover, .btn-save-new:hover{
    background-color: #fe5061;
    color: white;
}

/*To handle the two input boxes in a line in theadd new form*/

.form-entry-country{
    padding-right: 0;
}
.form-entry-price{
    padding-left: 0;
}
@media (max-width: 768px) {
    .form-entry-country{
        padding-right: 0;
        padding-left: 0;
    }
    .form-entry-price{
        padding-left: 0;
        padding-right: 0;
    }
}

/*Show Route*/
.show-img{
    width: 100%;
    height : 40vh;
    border-radius: 1rem;
    object-fit: cover !important;
    aspect-ratio: 1/1;
    object-position: center
}

.btn-edit{
    background-color: #fa424d;
    color: white;
    width : 100px;
}
.btn-edit:hover{
    background-color: #fe5061;
    color: white;
}

.btn-delete{
    background-color: #000000;
    color: white;
    width : 100px;
}
.btn-delete:hover{
    background-color: #333333;
    color: white;
}



